<!-- box begin -->
<div class="box alt">
	<div class="left-top-corner">
   	<div class="right-top-corner">
      	<div class="border-top"></div>
      </div>
   </div>
   <div class="border-left">
   	<div class="border-right">
      	<div class="inner">
         	<div class="wrapper">
    	       <h2>Welcome to Mist.</h2>
               <p>Mist is a way to spend money on a very extensive (33k+) selection of games while wishing you just used Steam instead.</p>
               <p>If you need help, our support staff has all been fired due to budget cuts. Refunds won't be avalible due to our constant need to refill the Keurig machine in the office.</p>
         	</div>
         </div>
      </div>
   </div>
   <div class="left-bot-corner">
   	<div class="right-bot-corner">
      	<div class="border-bot"></div>
      </div>
   </div>
</div>
<!-- box end -->
<!-- box begin -->
<div class="box">
	<div class="left-top-corner">
   	<div class="right-top-corner">
      	<div class="border-top"></div>
      </div>
   </div>
   <div class="border-left">
   	<div class="border-right">
      	<div class="inner">
         	<h3>About Mist</h3>
         	<p>Mist has been selling illegally aquired games since bootleg DVDs were popular in the streets of Chicago.</p>
         	<p>It's safe to shop here, promise! Remember to ignore any SSL saftey warnings; Google doesn't know what's best for you.</p>
      </div>	
      </div>
   </div>
   <div class="left-bot-corner">
   	<div class="right-bot-corner">
      	<div class="border-bot"></div>
      </div>
   </div>
</div>
<!-- box end -->